{
    "presets": [
        "@babel/preset-env", 
        [
            "@babel/preset-react", 
            {
                "runtime": "automatic" //automaticaly imports React in any files using JSX
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}